
:root {
  --page-background: white ;  
}


body {
  display: flex;
  margin: 0;
  background: var(--page-background);
}

#sidebar {
  background: rgb(150, 150, 150);
  height: 100vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#content-container{
  width: 60vw;
  padding:0.25em;
}

#content-container p{
  font-size:0.9em;
}

#sidebar2 {
  background: rgb(150, 150, 150);
  height: 100vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
  color: white;
}

.active {
  border: yellow 0.2em solid;
}

button{
  border:none;
  display:block;
  height:100;
}

button:hover{
  cursor:pointer;  
}

#red-button{
  background-color: red;
}

#green-button{
  background-color: green;
}

#blue-button{
  background-color: blue
}

#one-button{
  background-color: orange;
}

#two-button{
  background-color: aqua;
}

#three-button{
  background-color: brown
}